# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
